.base {
  cursor: pointer;
  padding: 12px 0;
  width: 100%;
}

.primary {
  background-color: var(--primary-violet);
  border: none;
  color: var(--primary-black);
}

.rounded {
  border-radius: 30px;
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--primary-violet);
  color: var(--primary-violet);
}

.squared {
  border-radius: 10px;
}
