.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  padding: 24px 32px;
}

.content {
  flex: 1;
  padding: 0 32px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 32px;
}

.input {
  margin-bottom: 24px;
}

.modal {
  background-color: var(--primary-layout);
  bottom: 0;
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.subtitle {
  color: var(--primary-violet);
  font-size: 16x;
  font-weight: 400;
}

.title {
  color: var(--primary-text);
  font-size: 24px;
  font-weight: 600;
}
